body {
  margin-left: 0%;
  margin-right: 0%;
}

/* Conteúdo do Cabeçalho */

#header-information {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  background-color: rgb(19, 19, 19);
  padding-left: 2%;
  padding-right: 2%;
  min-height: 100px;
}

#header-title {
  color: white;
}

.social-icon {
  font-size: 30px;
  color: white;
  padding-left: 10px ;
  padding-right: 10px;
}

/* Menu do cabeçalho */

#menu-itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #212529;
}